.navbar {
    position: fixed;
    top: 0;
    left: 70px;
    width: calc(100% - 70px);
    height: 80px;
    background: rgba(2, 60, 141, 0.301);
    backdrop-filter: blur(6px);
    display: flex;
    align-items: center;
    justify-content: space-between; /* 🔥 separa logo e usuário */-left: 20px;
    transition: 0.3s;
}

/* LOGO MENOR */
.logo-navbar {
    height: 190px; /* diminui aqui */
}

.usuario {
    color: #004aad;
    font-weight: bold;
    font-size: 22px; /* aumenta aqui */
    margin-right: 40px; /* afasta da borda direita */
}
