* {
    margin: 0;
    
}

/* SIDEBAR */
.sidebar {
    width: 70px;
    height: 100vh;
    background: #114fa8;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* 🔥 fica na frente da navbar */
    display: flex;
    flex-direction: column;
    font-family: Arial;
    transition: 0.3s;
}

.sidebar.ativo {
    width: 250px;
}

/* MENU (ESSENCIAL) */
.menu {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* ITENS */
.item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    padding: 15px 0;
    transition: 0.3s;
    text-align: center;
    box-sizing: border-box;
}

/* HOVER 100% */
.item:hover {
    background: #0a3c84;
}

/* ITEM ATIVO */
.item.active {
    background: #0a3c84;
}

/* ÍCONE */
.icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon img {
    width: 22px;
    height: 22px;
    object-fit: contain;
    filter: brightness(0) invert(1);
}

/* TEXTO */
.item span {
    display: none;
    font-size: 14px;
}

/* SIDEBAR ABERTA */
.sidebar.ativo .item {
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 20px;
}

.sidebar.ativo .item span {
    display: block;
    margin-left: 10px;
}

/* BOTÃO MENU */
.menu-icon {
    width: 100%;
    display: flex;
    justify-content: center; /* centraliza */
    margin: 20px 0 30px 0;
    cursor: pointer;
}

.menu-icon img {
    width: 25px;
    height: 25px;
    filter: brightness(0) invert(1); /* deixa branco */
}

/* 🔥 LOGOUT NO FINAL (CORRETO AGORA) */
.logout {
    margin-top: auto;
}

/* CONTEÚDO */
.container {
    margin-left: 70px;
    padding: 30px;
}

.sidebar.ativo ~ .container {
    margin-left: 250px;
}

@media (max-width: 1024px) {

    .sidebar {
        width: 60px;
    }

    .sidebar.ativo {
        width: 200px;
    }

    .container {
        margin-left: 60px;
    }

    .sidebar.ativo ~ .container {
        margin-left: 200px;
    }
}


@media (max-width: 768px) {

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100dvh; /* 🔥 CORRETO pra mobile */
        z-index: 1000;
    }

    .sidebar.ativo {
        width: 180px; /* 🔥 aberta menor tbm */
    }

    .container {
        margin-left: 55px;
        padding: 15px;
    }

    .sidebar.ativo ~ .container {
        margin-left: 180px;
    }

    /* 🔥 ícones menores */
    .icon img {
        width: 18px;
        height: 18px;
    }

    /* 🔥 reduz espaçamento */
    .item {
        padding: 10px 0;
    }
}