body {
    font-family: Arial;
    background: #f4f6fb;
    margin: 0;
}


.container {
    margin-top: 80px;   /* 🔥 fica abaixo da navbar */
    margin-left: 70px;  /* 🔥 respeita a sidebar */
    padding: 20px;
}






h1 {
    color: #114fa8;
    text-align: center;
    margin-bottom: 35px;
}




h2 {
    margin-top: 40px;
    color: #114fa8;
    text-align: center;
    margin-bottom: 30px;
}


.form {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    gap: 12px;
    margin-bottom: 30px;
}


input,
select {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}


button {
    background: #114fa8;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}


button:hover {
    background: #0a3c84;
}


/* container igual dashboard */
.table-container {
    width: 100%;
    margin: 30px 0;
    background: #ffffff;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

/* tabela igual dashboard */
table {
    border-radius: 12px;
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 0;
    margin: 0 auto;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

th {
    background: #114fa8;
    color: white;
    padding: 10px;
    border: none;
}

td {
    padding: 10px;
    border: none;
}


.status-ativo {
    color: green;
    font-weight: bold;
}


.status-inativo {
    color: red;
    font-weight: bold;
}


.btn-excluir {
    background: #dc2626;
}


.btn-excluir:hover {
    background: #b91c1c;
}

@media (max-width: 1024px) {

    .container {
        margin-left: 60px;
    }

    .sidebar.ativo ~ .container {
        margin-left: 200px;
    }
}


@media (max-width: 768px) {

    .container {
        margin-left: 55px;
        padding: 15px;
    }

    .sidebar.ativo ~ .container {
        margin-left: 180px;
    }

    .form {
        display: flex;          /* 🔥 muda de grid pra coluna */
        flex-direction: column;
        gap: 10px;
    }

    input,
    select,
    button {
        width: 100%;
        height: 40px;
        font-size: 14px;
    }

    .table-container {
        overflow-x: auto;
        padding: 15px;
    }

    table {
        min-width: 600px; /* 🔥 igual dashboard */
    }

}