<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/css_components/pages/dashboard.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/css_components/sidebar.css">
    <title>Dashboard</title>
</head>

<body>
    <div id="sidebar-container"></div>
    <div id="navbar-container"></div>

    <div class="container">

        <h1 class="titulo">Dashboard</h1>

        <div class="card-geral">
            <div class="card">
                <p class="titulo-card">Produção Hoje</p>
                <div class="card-info">
                    <p class="card-info-qtd" id="cardProducaoHoje">0</p>
                    <p class="card-info-nome">Peças</p>
                </div>
            </div>

            <div class="card">
                <p class="titulo-card">Divergência</p>
                <div class="card-info">
                    <p class="card-info-qtd" id="cardDivergencias">0</p>
                    <p class="card-info-nome">Encontradas</p>
                </div>
            </div>

            <div class="card">
                <p class="titulo-card">Máquinas Ativas</p>
                <div class="card-info">
                    <p class="card-info-qtd" id="cardMaquinasAtivas">0</p>
                    <p class="card-info-nome">Ativas</p>
                </div>
            </div>

            <div class="card">
                <p class="titulo-card">Operadores Ativos</p>
                <div class="card-info">
                    <p class="card-info-qtd" id="cardOperadoresAtivos">0</p>
                    <p class="card-info-nome">Ativos</p>
                </div>
            </div>
        </div>

        <h1 class="titulo2">Monitoramento de Estoque WIP</h1>

        <div class="grafico-container">
            <canvas id="graficoBarras"></canvas>
        </div>

        <h1 class="titulo2">Relatório de Produção</h1>

        <div class="filtros">
            <input type="date" id="filtroData">
            <input type="text" id="filtroMaquina" placeholder="Máquina">
            <button type="button" id="btnFiltrar">Filtrar</button>
            <button type="button" id="btnLimpar">Limpar</button>
        </div>

        <h2 class="titulo2">Tabela com dados</h2>

        <div class="tabela-container">
            <table>
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Tipo</th>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Responsável</th>
                        <th>Observação</th>
                    </tr>
                </thead>
                <tbody id="tabelaDashboard"></tbody>
            </table>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js"></script>
    <script src="/js/components/sidebar.js"></script>
    <script src="../../js/components/loadSidebar.js"></script>
    <script src="/js/components/loadNavbar.js"></script>
    <script src="../../js/pages/dashboard.js"></script>
</body>

</html>