<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/css_components/sidebar.css">
    <title>Document</title>
</head>

<body>

    <div class="sidebar">

        <div class="menu-icon">☰</div>

        <a class="item" href="/views/admin/dashboard.html">
            <div class="icon">🏠</div>
            <span>Dashboard</span>
        </a>

        <a class="item" href="/views/admin/usuarios.html">
            <div class="icon">👤</div>
            <span>Usuários</span>
        </a>

        <a class="item" href="/views/admin/maquinas.html">
            <div class="icon">⚙</div>
            <span>Máquinas</span>
        </a>

        <a class="item" href="/views/admin/relatorios.html">
            <div class="icon">📋</div>
            <span>Relatórios</span>
        </a>

        <a class="item" href="/views/operador/divergencias.html">
            <div class="icon">❌</div>
            <span>Divergências</span>
        </a>

        <a class="item logout" href="../login.html">
            <div class="icon">↩</div>
            <span>Sair</span>
        </a>

    </div>

</body>

</html>