* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* 🔥 resolve o problema */
    font-family: "Roboto", sans-serif;
}

body {
  font-family: Arial;
  background: #ffffff;
}


.container {
    margin-top: 80px;   /* 🔥 fica abaixo da navbar */
    margin-left: 70px;  /* 🔥 respeita a sidebar */
    padding: 20px;
}


h1 {
  text-align: center;
  color: #114fa8;
  margin-bottom: 30px;
}


.card-geral {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}

.card {
    flex: 1;
    min-width: 220px;
    height: 120px;
    background-color: #004aad;
    border-radius: 20px;
    color: white;
    padding: 15px;
}

.titulo-card p {
    font-size: 23px;
}

.card-info {
    display: flex;
    align-items: center;
    height: 70%;
}

.card-info-qtd {
    font-size: 35px;
    font-weight: bold;
}


.titulo {
  margin-top: 20px;
  padding-bottom: 30px;
  text-align: center;
  color: #114fa8;
  font-size: 25px;
}


.titulo1 {
  padding-top: 30px;
  text-align: center;
  padding-bottom: 30px;
  color: #114fa8;
  font-size: 25px;
}

.titulo2 {
  padding-top: 30px;
  text-align: center;
  color: #114fa8;
  font-size: 25px;
}


.alerta {
  background: #ff5c5c;
  color: white;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}


.filtros {
  background: #114ea3;
  padding: 15px;
  border-radius: 15px;
  display: flex;
  gap: 10px;
  justify-content: center;
}


.filtros input {
  padding: 10px;
  border-radius: 8px;
  border: none;
}


.filtros button {
  padding: 10px 20px;
  border: none;
  background: #0b3d91;
  color: white;
  border-radius: 8px;
}



.filtros select {
  padding: 10px;
  border-radius: 8px; 
  border: none;
  outline: none;
}


.tabela {
  width: 100%;          
  margin: 30px 0;      
  background: #ffffff;
  padding: 20px;        
  border-radius: 15px;
}



table {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  border-collapse: separate;
  border-spacing: 0;
  margin: 0 auto;
  background: white;
  border-collapse: collapse;
}

th {
  background: #0b3d91;
  color: white;
  padding: 10px;
}

td {
  padding: 10px;
  text-align: center;
}



.dot {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 50%;
}


.amarelo {
  background: gold;
}


.vermelho {
  background: red;
}


.verde {
  background: green;
}
